---
global:
  external_ip: <external ip>
include:
  - name: mosquitto
  - name: mqtt-traffic
    values:
      mqttTrafficOrigin: "Frankfurt"
      mqttTrafficDestination: "Stuttgart"
      mqttTrafficLanguage: "en"
      mqttTrafficApiKey: "<your Google Maps Web Service API key, see https://github.com/googlemaps/google-maps-services-js#api-keys>"
  - name: mqtt-online-check
    values:
      mqttOnlineCheckHostname: "google.com"
  - name: http2mqtt
    values:
      httpPort: 9001
